[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
pypdf = "*"
streamlit = "*"
streamlit-authenticator = "*"
torch = {version = "==2.1.0+cpu", index = "pytorch-cpu"} 

[dev-packages]

[requires]
python_version = "3.13"
